.linksList {
  list-style: none;
  display: flex;
  gap: 5.5px;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.linksItem {
  margin: 0px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  max-width: fit-content;
  max-height: fit-content;

  a {
    display: flex;
  }

  &:hover {
    filter: invert(1);
  }
}
