@import "@/styles/variables";
@import "rfs/scss";

.censor {
  display: grid;
  gap: 12px;
  &__image {
    border-radius: 16px;
    width: 100%;
    @include rfs(54vh, height);
  }

  &__icons {
    margin: 0px;
    padding: 0px;
    margin-top: 4px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    &.active {
      filter: invert(0%) sepia(37%) saturate(3000%) hue-rotate(240deg)
        brightness(55%) contrast(290%) drop-shadow(2px 4px 6px black);
    }

    &:hover {
      filter: drop-shadow(2px 4px 6px black);
      transform: scale(1.1);
    }
  }
}
