@import "rfs/scss";

$base-color: #1d2228;
$second-color: #30363d;
$main: #ffffff;
$active-gradient: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);

$main-font: "Raleway", sans-serif;

@mixin Font($font-size: 14px, $font-weight: 700) {
  font-family: $main-font;
  // font-size: 32px;
  @include font-size($font-size);
  font-style: normal;
  font-weight: $font-weight;
  line-height: normal;
  color: $main;
  margin: 0px;
}

@mixin Avatar($border-radius: 12px) {
  border-radius: $border-radius;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.15);
}
