@import "@/styles/variables";
@import "rfs/scss";

.editList {
  position: absolute;
  right: 15px;
  top: 20px;
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: grid;
  gap: 12px;

  &__button {
    border-radius: 99px;
    border: none;
    background: $main;
    padding: 7px;

    img {
      display: block;
    }

    &.settings {
      &.active {
        background: rgba(255, 255, 255, 0.5);
        img {
          filter: none;
        }
      }
      img {
        width: 18px;
        height: 18px;
        filter: invert(100%);
      }
    }
  }
}
