@import "@/styles/variables";
@import "rfs/scss";

@import "@/styles/variables";
@import "rfs/scss";

.timeChange {
  input {
    max-width: 81px;
  }
  &__text {
    margin: 0px;
    font-size: 16px;
    &.delete {
      display: flex;
      gap: 5px;
      color: #ff5e54;
      align-items: baseline;
      border: none;
      background: none;
      padding: 0px;
      cursor: pointer;

      img {
        display: flex;
        width: 11px;
        height: 10.379px;
        filter: invert(52%) sepia(6%) saturate(5409%) hue-rotate(315deg)
          brightness(97%) contrast(111%);
      }
    }
  }
}
