@import "@/styles/variables";
@import "rfs/scss";

.userInfo {
  &__right {
    gap: 16px;
  }

  .creatorInfo__wrapper {
    margin: 41px 24px 0px;
  }

  .creatorWorks__wrapper {
    margin: 39px 25px 51px;
  }
}
