@import "@/styles/variables.scss";
@import "rfs/scss";

.header {
  background-color: $second-color;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
  padding: 5px 24px 4px;

  display: flex;
  align-items: center;
  z-index: 50;

  .logo {
    display: flex;
    padding: 4px;
    box-sizing: content-box;
  }
}

.search {
  position: relative;
  // width: 100%;
  width: 83.77%;
  margin: -3px 16px 0px 25px;

  &__input {
    width: 100%;
    max-width: -webkit-fill-available;
    padding: 6px 12px 6px 40px;
    background-color: $base-color;
    border-radius: 12px;
    border: none;
    @include Font(14px, 500);
    &::placeholder {
      @include Font(12px, 600);
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      border-color: $main;
      box-shadow: 0 0 5px $main;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    right: auto;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  &__clear {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 13px;
    font-weight: 600;

    position: absolute;
    right: 12px;
    top: 25%;

    .search__icon {
      position: relative;
      width: 11px;
      height: 10.38px;
      opacity: 0.5;
      left: 0px;
      top: 4px;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

    .search {
      margin: 0px auto;
    }
    .button {
      margin: 0px auto;
    }
  }
}
